@media only screen and (max-width: 767px),
(orientation: portrait) {
    /*Header*/
    .header {
        height: 1.5em;
        padding-bottom: 0;
    }

    .header-title {
        display: inline-block;
        text-align: left;
    }

    .header-logo {
        display: inline-block;
    }

    .header-sub {
        display: inline-block;
        text-align: right;
    }

    /*splash*/
    .splash-title {
        font-size: 2.5em;
    }

    .splash-sub {
        font-size: 1.5em;
    }

    .splash-body {
        width: 100%;
        height: 80%;
        margin: 0;
        padding-top: 20%;
    }

    .splash-logo {
        height: 40%;
        width: auto;
    }

    /*Showcase*/
    .showcase {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .showcase-body {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        bottom: 0;
    }

    .showcase-text-body {
        width: 92%;
        margin-right: 0;
    }

    .showcase-text-body p {
        overflow: hidden;
    }

    .ci-landscape {
        display: none;
    }

    /*Fonts*/
    .back-trans {
        background: rgba(0, 0, 0, .7);
    }

    .back-trans-dark {
        background: rgba(0, 0, 0, .8);
    }

    .eh-text {
        font-size: 3em;
        font-weight: 300;
    }

    .h-text {
        font-size: 2em;
    }

    .el-text {
        font-size: 1.75em;
    }

    .l-text {
        font-size: 1.5em;
    }

    .n-text {
        font-size: .8em;
    }

    .s-text {
        font-size: .7em;
    }

    .ex-text {
        font-size: .6em;
    }

    .gallery-image-text {
        font-size: 1.5em;

    }

}

@media only screen and (orientation: portrait) {

    /*navigation*/
    .submit-buttom,
    .submit-buttom:active,
    .submit-buttom:hover,
    .submit-buttom:focus
    /*.navi-ul li a,*/
    /*.navi-ul li a:active,*/
    /*.navi-ul li a:hover,*/
    /*.navi-ul li a:focus,*/
    /*a:active,*/
    /*a:hover,*/
    /*a:focus*/
    {
        text-decoration: none;
        font-size: 1em;
        padding-top: 0;
        bottom: 0;
        margin: 0;
    }


    .navi-ul {
        right: 0;
        top: auto;
        bottom: 15%;
        height: 200px;
        width: 200px;
        overflow: hidden;
        position: fixed;
    }

    .navi-main {
        height: 310px;
        width: 310px;
        display: inline-block;
        text-align: center;
    }

    .navi-main li
/*    .navi-main li a */{
        margin: 0;
        padding: 0;
        display: inline-block;
    }

    .navi-ul li {
        width: 100px;
        padding: 0;

    }

    .rotate {
        /* Safari */
        -webkit-transform: rotate(90deg);

        /* Firefox */
        -moz-transform: rotate(90deg);

        /* IE */
        -ms-transform: rotate(90deg);

        /* Opera */
        -o-transform: rotate(90deg);

        /* Internet Explorer */
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);

    }

    /*Gallery*/
    .gallery-body {
        margin-left: 3%;
        margin-right: 3%;
        background: none;
        text-align: center;
        width: 94%;
        top: 8%;
    }

    .gallery-text {
        font-size: .6em;
    }


    /*Gallery Images*/
    /* primary container for all of the images*/
    .ul-gallery {
        margin-left: 1%;
        text-align: left;
    }

    .gallery-images {
        width: 100%;
        bottom: .1%;
    }

    /*contains the image and text*/
    .gallery-image-container {
        width: 25%;
        text-align: left;
    }

    .gallery-image-container:first-child {
        margin-right: 50%;
    }

    .gallery-image-container:nth-child(3) {
        margin-right: 25%;
    }


    /*contact*/
    .contact-body {
        margin-left: 3%;
        margin-right: 3%;
        background: none;
        text-align: center;
        width: 94%;
        top: 8%;
    }

    .contact-text {
        font-size: .8em;
    }
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
    .gallery-body {
        margin-left: 2%;
        padding-top: .2em;
        width: 85%;
    }

    .gallery-text {
        font-size: .65em;
        width: auto;
    }

    .gallery-image-container {
        width: 16%;
    }

    .contact-body {
        padding-top: .2em;
        margin-left: 2%;
        width: 85%;
    }

    .contact-text {
        font-size: .8em;
        width: auto;
    }

    .splash-body {
        width: 100%;
        height: 80%;
        margin: 0;
        padding-top: 5%;
    }

    .splash-logo {
        height: 60%;
        width: auto;
    }

    .submit-buttom,
    .submit-buttom:active,
    .submit-buttom:hover,
    .submit-buttom:focus/*
    .navi-ul li a,
    .navi-ul li a:active,
    .navi-ul li a:hover,
    .navi-ul li a:focus,
    a,
    a:active,
    a:hover,
    a:focus */{
        text-decoration: none;
        font-size: .9em;
        padding: 0;
        bottom: 0;
    }

    .my-image {
        float: left;
        height: 30%;
    }
}

