/* standard aspect ratio16 x 9*/
html,
body,
body div {
    overflow: hidden;
}

html {
    height: 100%;
}

body {
    background: #fff;

    font-size: 16px;
    font-family: 'Titillium Web', Ubuntu, serif;
    font-weight: normal;
    -webkit-font-smoothing: none;
    color: #000;

    height: 100%;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    position: static;
}

.content {
    height: 100%;
    width: 100%;
    display: inline-block;
    position: relative;
}
/*Border Box*/
/*.border-box {*/
    /*height: 100%;*/
    /*padding-top: 2.6em;*/
    /*/!*bottom:0;*!/*/
/*}*/

/*Header*/
.header {
    text-align: center;
    width: 100%;
    height: 2.6em;
    padding-bottom: .2em;
    top: 0;
    z-index: 18;
    position: fixed;
}

.header-title,
.header-title:active

{
    display: inline-block;
    text-decoration: none;
}

.header-logo {
    height: 1.2em;
    display: inline-block;
}

/*Splash*/
.splash,
.splash-body {
    background: url(../images/splash-back-1080p.jpg) repeat #cccccc;
    background-size: 100%;
    width: 100%;
    height: 100%;
    z-index: 19;
    position: fixed;
}

.splash-body {
    background: none;
    text-align: center;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    position: fixed;
}

.splash-logo {
    margin: 0 auto;
    display: block;
    max-height: 60%;
    max-width: 100%;
    position: relative;
}

.splash-body-text {
    text-align: center;
    display: block;
    position: relative;
}

.splash-title,
.splash-sub {
    display: block;
    position: relative;
}

/*Showcase*/
.showcase {
    background-size: 100%;
    height: 100%;
    width: 100%;
    z-index: 10;
    position: fixed;
}

.showcase-img {
    background-color: #ffffff;
    min-height: 100%;
    min-width: 100%;
    position: fixed;

}

.showcase-body {
    margin-left: 20%;
    margin-right: 20%;
    background: none;
    text-align: center;
    width: 60%;
    max-height: 75%;
    bottom: 10%;
    overflow: hidden;
    position: fixed;
}

.showcase-text {
    padding: 1em;
    text-align: center;
    display: block;
    position: relative;
}

.showcase-text-title {
    text-align: left;
    display: block;
    position: relative;
}




.showcase-text-body {
    display: block;
    position: relative;
}


/*Gallery*/
.gallery {
    background: #ffffff;
    height: 100%;
    width: 100%;
    z-index: 3;
    /*space 3-6*/
    position: fixed;
}

.gallery-body {
    margin-left: 20%;
    margin-right: 20%;
    background: none;
    text-align: center;
    width: 60%;
    height: 85%;
    top: 15%;
    overflow: hidden;
    position: relative;
    z-index: 3;

}

.gallery-see-more {
    right: 1em;
    position: absolute;
}

.gallery-text {
    padding: 1em;
    text-align: left;
    max-height: 60%;
    display: block;
    position: relative;
}

.gallery-text-title,
.gallery-text-subtitle {
    display: inline-block;
    padding-bottom: .2em;
}
.more-about-showcase,
.more-about {
    text-decoration: none;
}

.gallery-text-body {

}

/*Gallery Images*/
/*the primary container for all of the images*/

.gallery-images {
    width: 100%;
    bottom: 1%;
    left: 0;
    position: fixed;
}

.ul-gallery {
    width: 100%;
    margin: 0 auto;
}

/*The link element*/
.gallery-link {

}

/*contains development Icons*/
.gallery-dev {

}

/*contains the image and text*/
.gallery-image-container {
    width: 16%;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

/*is the image itself*/
.gallery-image {
    left: 0;
    /*height: 100%;*/
    width: 100%;
    z-index: 3;
    position: relative;
    filter: grayscale(1) brightness(.5) contrast(150%);
    -webkit-filter: grayscale(1) brightness(.5) contrast(150%);
}

.gallery-active,
.gallery-image:hover,
.gallery-image:active {
    filter: none;
    -webkit-filter: none;
    cursor: pointer;
}

/*labels the development types*/

.gallery-image-dev {
    text-shadow: 1px 1px black;
    z-index: 4;
    right: 0;
    top: 0;
    padding: 0 5%;
    width: 90%;
    max-height: 15%;
    overflow: hidden;
    text-align: right;
    pointer-events: none;
    position: absolute;
}

.gallery-image-text {
    text-shadow: 1px 1px black;
    left: 0;
    bottom: 0;
    padding: 5%;
    width: 90%;
    max-height: 75%;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 4;
}

.gallery-button {
    background:none;
    border: none;
    display: inline-block;
    width: 100%;
    height: 100%;
}

/*Contact*/
.contact,
.cwiki-admin {
    height: 100%;
    width: 100%;
    z-index: 1;
    /*space 3-6*/
    position: fixed;
}

.ci-landscape,
.ci-portrait {
    background: #fff;
    max-height: 100%;
    z-index: 1;
    position: fixed;
}

.contact-body,
.cwiki-body{
    margin-left: 20%;
    margin-right: 20%;
    background: none;
    text-align: center;
    width: 60%;
    height: 85%;
    top: 15%;
    overflow: hidden;
    position: relative;
    z-index: 1;

}

.contact-text,
.cwiki-text {
    padding: 1em;
    text-align: left;
    max-height: 60%;
    display: block;
    position: relative;
}

.contact-text-title,
.contact-text-subtitle {
    display: inline-block;
    padding-bottom: .2em;
}

.contact-text-body {

}

.my-image {
    height: 30%;
    max-height: 30%;
    border-radius: 50%;
    filter: grayscale(1) brightness(1) contrast(115%);
    -webkit-filter: grayscale(1) brightness(1) contrast(115%);

}

.contact-box {
    background-color: #00b6dc;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    position: fixed;
}

.contact-box p {
    text-align: center;
    padding: 1px;
}

/*Login Page*/
.login {
    width: 200px;
    margin: 0 auto;
}

.login-text {
    /*margin: 1em;*/
    padding: 1em;
    border-radius: 5%;
}

/*Cwiki-General*/
.c-gen-body{
    width: 80%;
    margin: 0 15% 0 5%;
    top: 5%;
}
.c-gen-text{
    padding: 1em;
    text-align: left;
    max-height: none;
    display: block;
    position: relative;
}

/*Site Down*/
.site-down {
    background: url(../images/sig-background.png) top center no-repeat #ffffff;
    height: 100%;
    width: 100%;
    position: fixed;}

/*Calling Styles*/
.back-trans {
    background: rgba(0, 0, 0, .7);
}

.back-trans-dark {
    background: rgba(0, 0, 0, .8);
}

/* fonts*/

p {
    text-align: justify;
}

.eh-text {
    font-size: 4em;
    font-weight: 300;
}

.h-text {
    font-size: 2em;
}

.el-text {
    font-size: 1.75em;
}

.l-text {
    font-size: 1.5em;
}

.n-text {
    font-size: 1em;
}

.s-text {
    font-size: .8em;
}

.ex-text {
    font-size: .6em;
}

.fc-alpha {
    color: #f4a772;
}

.fc-beta {
    color: #00b6dc;
}

.fc-white {
    color: #fff;
}

.fc-black {
    color: #000;
}

/* font style */
.ff-default {
    font-family: 'Titillium Web', Ubuntu, sans-serif;
}

.ff-reading {
    font-family: 'Roboto Slab', serif;
}

.menu-social a[href*="facebook.com"]::before {
    content: '\f09a';
}

.menu-social a[href*="twitter.com"]::before {
    content: '\f099';
}

.menu-social a[href*="dribbble.com"]::before {
    content: '\f17d';
}

.menu-social a[href*="plus.google.com"]::before {
    content: '\f0d5';
}

.menu-social a[href*="pinterest.com"]::before {
    content: '\f0d2';
}

.menu-social a[href*="github.com"]::before {
    content: '\f09b';
}

.menu-social a[href*="tumblr.com"]::before {
    content: '\f173';
}

.menu-social a[href*="youtube.com"]::before {
    content: '\f167';
}

.menu-social a[href*="flickr.com"]::before {
    content: '\f16e';
}

.menu-social a[href*="vimeo.com"]::before {
    content: '\f194';
}

.menu-social a[href*="instagram.com"]::before {
    content: '\f16d';
}

.menu-social a[href*="linkedin.com"]::before {
    content: '\f0e1';
}

.menu-social a::before{
    font-family: "FontAwesome";
    color: black;
    font-size: 2em;
    text-shadow: 1px 1px #ffffff;
    margin: 0 .2em;
    text-decoration: none;
}

.fs-bold {
    font-weight: 700;
}

.fs-shadow {
    text-shadow: 1px 1px #000;
}

/*Calling all Box*/
.opacity-heavy {
    opacity: .80;
}

/*links*/
.navi-ul {
    right: 0;
    top: 15%;
    z-index: 18;
    position: fixed;
    pointer-events: none;
}
.navi-ul li a {
    pointer-events: auto;
}

.navi-main li {
    padding-left: .5em;
    pointer-events: auto;
}

.navi-splash{
    z-index: 22;
}


.submit-buttom,
.submit-buttom:active,
.submit-buttom:hover,
.submit-buttom:focus {
    margin-bottom: 3px;
    padding: 3px;
    text-decoration: none;
    /*font-size: 1em;*/
    bottom: 0;
    z-index: 18;
    float: right;
    border: none;
    font-size: 1.8em;
}

.submit-buttom:hover {
    text-decoration: underline;
}

